<%= simple_form_for [@topic,@reply], remote: true do |f| %>
  <%= f.error_notification %>
  <div class="inputs">
    <%= f.input :content , label: "Message" %>
    <% if @reply.message %>
      <%= f.input :message_id, as: :hidden, value: @reply.message_id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
