<tr>
  <td>
    <div message="<%="#{message.id}"%>">
      <small>
        <b><%= get_username(message)%></b>
        on <%= get_date(message)%>
      </small>
      <p><%= message.content%></p>
      <%= message.rating %>
      <%if liked(message)%>
        <small>Liked</small>
      <%else%>
        <%= link_to "Like", topic_message_rate_path(@topic, message), remote: true %>
      <%end%>
      <span reply>
        <%= link_to "Reply", topic_message_request_reply_path(@topic, message), remote: true %>
      </span>
    </div>
  </td>
</tr>
