<tr>
  <td>
    <div message="<%= @reply.id %>">
      <small>
        <b><%= get_username(@reply) %></b> on <%= get_date(@reply) %>
      </small>
      <p><%= @reply.content %></p>
      <%= @reply.rating %>
      <span like="<%= @reply.id %>">
        <% if liked(@reply) %>
          <small>Liked</small>
        <% else %>
          <%= link_to "Like" , topic_message_rate_path( @topic, @reply), remote: true %>
        <% end %>
      </span>
      <%= link_to "Reply", topic_message_reply_path(@topic, @reply), remote: true %>

      <span reply="<%= @reply.id %>" reply>
      </span>
      <div>
        <table id="reply" replies="<%= @reply.id %>">
          <%= link_to "View replies", topic_message_view_replies_path(@topic, @reply), remote: true %>
        </table>
      </div>
    </div>

  </td>
</tr>
