<%= simple_form_for [@category, @topic]   do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :creator %>
    <%= f.input :title %>
    <%= f.input :content %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
