<% content_for :title, "Topics" %>

<table id="forum">
  <tr>
    <th>Creator</th>
    <th>Title</th>
    <th>Content</th>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.creator %></td>
      <td><%= topic.title %></td>
      <td><%= topic.content %></td>
      <td><%= link_to "Show", category_topic_path(@category,topic) %></td>
      <td><%= link_to "Edit", edit_category_topic_path(@category,topic) %></td>
      <td><%= link_to "Destroy", category_topic_path(@category,topic), method: :delete, data: {confirm: 'Are you sure?'}%></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Topic", new_category_topic_path(@category) %></p>
