<% content_for :title, "Topic" %>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<table id="forum" data-forum>
  <tr>
    <th>
      Comments
    </th>
  </tr>
  <% @topic.messages.sort{|a,b| a.created_at <=> b.created_at}.each do |message| %>
    <% @message = message%>
    <%= render 'messages/message'%>
  <%end%>
</table>
<table id="forum">
  <tr>
    <th>
      <p>
        Comment as <%= username%>
        <br>
        <div message-form>
          <% @message = Message.new(topic_id: @topic.id)%>
          <%= render 'messages/form'%>
        </div>
      </p>
    </th>
  </tr>
</table>
