<% content_for :title, "Topic" %>

<table id="forum">
  <tr>
    <th>
      <%= @topic.title %>
    </th>
  </tr>
  <tr>
    <td>
      <p><%= @topic.content %></p>
      <small>
        <%= get_date(@topic) %>
      </small>
    </td>
  </tr>
</table>

<table id="forum" data-forum>
  <tr>
    <th>
      Comments
    </th>
  </tr>
  <% @topic.messages.sort{|a,b| a.created_at <=> b.created_at}.each do |message| %>
    <% unless message.is_reply? %>
      <%@reply = message%>
      <%= render 'messages/message'%>
    <% end %>
  <% end %>
</table>

<table id="forum">
  <tr>
    <th>
      <p>
        Comment as <%= username %>
        <br>
        <div message-form>
          <% @reply = Message.new(topic_id: @topic.id) %>
          <%= render 'messages/form' %>
        </div>
      </p>
    </th>
  </tr>
</table>
